<a href="https://colab.research.google.com/github/Ela4O4/CPE-311---Computational-Thinking-with-Python/blob/main/Hands_on_Activity_6_1_Introduction_to_Data_Analysis_and_Tools_Bautista.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

6.1 Intended Learning Outcome.

1. Use pandas and numpy data analysis tools.
2. Demonstrate how to analyze data using numpy and pandas

6.2 Resources:

Personal Computer

Jupyter Notebook

Internet Connection

6.3 Supplementary Activities:

Exercise 1

Run the given code below for exercises 1 and 2, perform the given tasks without using any Python modules

In [18]:
import random
random.seed(0)
salaries = [round(random.random()*1000000, -3) for _ in range(100)]

Using the data generated above, calculate the following statistics without importing anything from the statistics module in the
standard library (https://docs.python. org/3/library /statistics.html) and then confirm your results match up to those that are
obtained when using the statistics module (where possible):




*   Mean
*   Median
*   Mode (hint: check out the Counter in the collections module of the standard library at https://docs.python. org/3/library /collections.html#collections. Counter)
*   Sample variance
*   Sample standard deviation

In [26]:
# Mean
mean_calc = sum(salaries)/ len(salaries) #

print(f"Manual Mean: {mean_calc:,.2f}")

Manual Mean: 585,690.00

In [25]:
# Median
# the middle value of the sorted lists

sorted_salaries = sorted(salaries)
n = len(sorted_salaries)
mid1 = sorted_salaries[n//2 - 1]
mid2 = sorted_salaries[n//2]
median_calc = (mid1 + mid2) / 2

print(f"Manual Median: {median_calc:,.2f}")

Manual Median: 589,000.00

In [35]:
# Mode

map_values = {}
for salary in salaries:
  if salary not in map_values:
    map_values[salary] = 1
    continue
    map_values[salary] += map_values[salary] + 1

mode_value = None
max_count = 0

for salary, count in map_values.items():
    if count > max_count:
        max_count = count
        mode_value = salary

print(f"Mode: {mode_value:,.2f} (appeared {max_count} times)")

Mode: 844,000.00 (appeared 1 times)

In [39]:
# Sample Variance

average = sum(salaries)/len(salaries)
len_minus_one = len(salaries) - 1

x_mean_squared = []
for salary in salaries:
  temp = (salary - average)**2
  x_mean_squared.append(temp)

  summation = sum(x_mean_squared)
  variance_calc = summation/len_minus_one

  print(f"Sample Variance: {variance_calc:,.2f}")

Sample Variance: 673,980,364.65
Sample Variance: 973,886,789.90
Sample Variance: 1,247,854,427.27
Sample Variance: 2,325,898,428.28
Sample Variance: 2,382,247,883.84
Sample Variance: 2,712,034,511.11
Sample Variance: 3,109,275,481.82
Sample Variance: 3,916,483,927.27
Sample Variance: 4,035,812,372.73
Sample Variance: 4,035,885,464.65
Sample Variance: 5,085,216,132.32
Sample Variance: 5,150,982,557.58
Sample Variance: 6,082,574,639.39
Sample Variance: 6,375,559,448.48
Sample Variance: 6,386,104,257.58
Sample Variance: 7,517,593,107.07
Sample Variance: 8,579,986,805.05
Sample Variance: 10,174,484,139.39
Sample Variance: 10,682,716,221.21
Sample Variance: 11,693,342,646.46
Sample Variance: 12,461,069,677.78
Sample Variance: 12,671,427,012.12
Sample Variance: 13,662,974,043.43
Sample Variance: 13,760,598,852.53
Sample Variance: 13,891,158,611.11
Sample Variance: 16,264,132,309.09
Sample Variance: 16,496,555,097.98
Sample Variance: 16,503,025,765.66
Sample Variance: 17,585,165,524.24
Sample Variance: 19,053,825,282.83
Sample Variance: 19,173,153,728.28
Sample Variance: 19,961,174,698.99
Sample Variance: 21,032,629,003.03
Sample Variance: 21,518,456,034.34
Sample Variance: 21,532,053,570.71
Sample Variance: 24,833,361,208.08
Sample Variance: 25,015,575,108.08
Sample Variance: 25,367,627,189.90
Sample Variance: 25,946,104,726.26
Sample Variance: 26,014,538,424.24
Sample Variance: 29,467,693,940.40
Sample Variance: 29,552,613,698.99
Sample Variance: 30,357,653,457.58
Sample Variance: 31,536,967,155.56
Sample Variance: 32,223,424,489.90
Sample Variance: 33,039,911,117.17
Sample Variance: 34,613,448,451.52
Sample Variance: 34,616,609,422.22
Sample Variance: 35,830,689,786.87
Sample Variance: 37,307,062,878.79
Sample Variance: 37,784,069,304.04
Sample Variance: 37,975,569,668.69
Sample Variance: 40,558,623,972.73
Sample Variance: 41,271,666,155.56
Sample Variance: 41,332,633,186.87
Sample Variance: 42,551,059,814.14
Sample Variance: 44,846,346,239.39
Sample Variance: 44,858,501,755.56
Sample Variance: 45,007,149,392.93
Sample Variance: 45,022,269,757.58
Sample Variance: 45,548,789,516.16
Sample Variance: 45,569,876,143.43
Sample Variance: 47,015,517,114.14
Sample Variance: 47,018,543,741.41
Sample Variance: 47,018,597,641.41
Sample Variance: 47,218,533,763.64
Sample Variance: 47,219,607,461.62
Sample Variance: 47,626,440,553.54
Sample Variance: 47,627,388,998.99
Sample Variance: 48,510,546,333.33
Sample Variance: 50,100,071,142.42
Sample Variance: 51,705,664,234.34
Sample Variance: 51,713,197,932.32
Sample Variance: 51,764,562,741.41
Sample Variance: 51,883,891,186.87
Sample Variance: 54,365,795,995.96
Sample Variance: 54,665,702,421.21
Sample Variance: 55,522,889,452.53
Sample Variance: 56,672,162,544.44
Sample Variance: 57,335,746,545.45
Sample Variance: 58,320,974,182.83
Sample Variance: 59,470,247,274.75
Sample Variance: 59,490,420,972.73
Sample Variance: 59,873,291,640.40
Sample Variance: 60,017,078,267.68
Sample Variance: 60,985,844,894.95
Sample Variance: 61,503,180,411.11
Sample Variance: 62,203,505,220.20
Sample Variance: 63,169,895,887.88
Sample Variance: 63,170,083,525.25
Sample Variance: 64,510,707,526.26
Sample Variance: 64,511,034,557.58
Sample Variance: 64,694,280,982.83
Sample Variance: 64,750,058,519.19
Sample Variance: 66,450,606,964.65
Sample Variance: 67,559,357,632.32
Sample Variance: 67,993,473,148.48
Sample Variance: 70,556,135,937.37
Sample Variance: 70,563,669,635.35
Sample Variance: 70,664,054,444.44

In [41]:
# Sample Standard Deviation
# the square root of the variance
stdev_calc = variance_calc ** 0.5

print(f"Sample Standard Deviation: {stdev_calc:,.2f}")

Sample Standard Deviation: 265,827.11

Exercise 2

Using the same data, calculate the following statistics using the functions in the statistics module where appropriate:


*   Range
*   Coefficient of variation
*   Interquartile range
*   Quartile coefficient of dispersion

In [42]:
# Range
import statistics

# the total spread of the data (Max minus Min)
salary_range = max(salaries) - min(salaries)

print(f"Range: {salary_range:,.2f}")

Range: 995,000.00

In [43]:
# Coefficient of variation

# CV shows how large the standard deviation is relative to the mean (as a percentage)
mean_val = statistics.mean(salaries)
stdev_val = statistics.stdev(salaries)

coef_variation = (stdev_val / mean_val) * 100

print(f"Coefficient of Variation: {coef_variation:.2f}%")

Coefficient of Variation: 45.39%

In [45]:
# Interquartile range

# IQR ignores outliers by measuring the spread of the middle 50% of the data
# divide the data into 4 quartiles to find the 25% (Q1) and 75% (Q3) marks
q1, q2, q3 = statistics.quantiles(salaries, n=4)
iqr = q3 - q1

print(f"Interquartile Range: {iqr:,.2f}")

Interquartile Range: 421,750.00

In [46]:
# Quartile coefficient of dispersion

# this uses the quartiles to measure spread; it's useful for comparing different datasets
# it is the ratio of the IQR (Q3-Q1) to the sum of the quartiles (Q3+Q1)
qcd = (q3 - q1) / (q3 + q1)

print(f"Quartile Coefficient of Dispersion: {qcd:.4f}")

Quartile Coefficient of Dispersion: 0.3449

Exercise 3:  Pandas for Data Analysis

Load the diabetes. csv file. Convert the diabetes. csv into dataframe

Perform the following tasks in the diabetes dataframe:

1. Identify the column names

2. Identify the data types of the data

3. Display the total number of records

4. Display the first 20 records

5. Display the last 20 records

6. Change the Outcome column to Diagnosis
7. Create a new column Classification that display "Diabetes" if the value of outcome is 1 , otherwise "No Diabetes"
8. Create a new dataframe "withDiabetes" that gathers data with diabetes
9. Create a new dataframe "noDiabetes" thats gathers data with no diabetes
10. Create a new dataframe "Pedia" that gathers data with age 0 to 19
11. Create a new dataframe " Adult" that gathers data with age greater than 19
12. Use numpy to get the average age and glucose value.
13. Use numpy to get the median age and glucose value.
14. Use numpy to get the middle values of glucose and age.
15. Use numpy to get the standard deviation of the skinthickness.

In [61]:
from google.colab import files
uploaded = files.upload()

import os
print(os.listdir())

Saving diabetes.csv to diabetes (1).csv
['.config', 'diabetes (1).csv', 'diabetes.csv', 'sample_data']

In [63]:
import pandas as pd
import numpy as np
df = pd.read_csv('diabetes.csv')

# 1. Identify column names
print("Column Names:", df.columns.tolist())

# 2. Identify data types
print("\nData Types:\n", df.dtypes)

Column Names: ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome']

Data Types:
 Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [65]:
# 3. Total number of records
print(f"\nTotal Records: {len(df)}")

Total Records: 768

In [67]:
# 4. Display first 20 records
# head() retrieves the top rows
print("\nFirst 20 Records:")
display(df.head(20))

First 20 Records:

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
10,4,110,92,0,0,37.6,0.191,30,0
11,10,168,74,0,0,38.0,0.537,34,1
12,10,139,80,0,0,27.1,1.441,57,0
13,1,189,60,23,846,30.1,0.398,59,1
14,5,166,72,19,175,25.8,0.587,51,1
15,7,100,0,0,0,30.0,0.484,32,1
16,0,118,84,47,230,45.8,0.551,31,1
17,7,107,74,0,0,29.6,0.254,31,1
18,1,103,30,38,83,43.3,0.183,33,0
19,1,115,70,30,96,34.6,0.529,32,1

In [68]:
# 5. Display last 20 records
# tail() retrieves the bottom rows
print("\nLast 20 Records:")
display(df.tail(20))

Last 20 Records:

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
748,3,187,70,22,200,36.4,0.408,36,1
749,6,162,62,0,0,24.3,0.178,50,1
750,4,136,70,0,0,31.2,1.182,22,1
751,1,121,78,39,74,39.0,0.261,28,0
752,3,108,62,24,0,26.0,0.223,25,0
753,0,181,88,44,510,43.3,0.222,26,1
754,8,154,78,32,0,32.4,0.443,45,1
755,1,128,88,39,110,36.5,1.057,37,1
756,7,137,90,41,0,32.0,0.391,39,0
757,0,123,72,0,0,36.3,0.258,52,1
758,1,106,76,0,0,37.5,0.197,26,0
759,6,190,92,0,0,35.5,0.278,66,1
760,2,88,58,26,16,28.4,0.766,22,0
761,9,170,74,31,0,44.0,0.403,43,1
762,9,89,62,0,0,22.5,0.142,33,0
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [70]:
# 6. Change the Outcome column to Diagnosis
df = df.rename(columns={'Outcome': 'Diagnosis'})

In [72]:
# 7. Create a new column Classification that display "Diabetes" if the value of outcome is 1 , otherwise "No Diabetes"
#1 becomes 'Diabetes', 0 becomes 'No Diabetes'
df['Classification'] = np.where(df['Diagnosis'] == 1, "Diabetes", "No Diabetes")

display(df[['Diagnosis', 'Classification']].head())

   Diagnosis Classification
0          1       Diabetes
1          0    No Diabetes
2          1       Diabetes
3          0    No Diabetes
4          1       Diabetes

In [83]:
# 8. Create a new dataframe "withDiabetes" that gathers data with diabetes
withDiabetes = df[df['Diagnosis'] == 1].copy() #diagnosis is 1

# 9. Create a new dataframe "noDiabetes" that gathers data with no diabetes
noDiabetes = df[df['Diagnosis'] == 0].copy()

# 10. Create a new dataframe "Pedia" that gathers data with age 0 to 19
# i used <= 19 to include everyone up to their 19th birthday
Pedia = df[df['Age'] <= 19].copy()

# 11. Create a new dataframe "Adult" that gathers data with age greater than 19
Adult = df[df['Age'] > 19].copy()

print("--- Subset Creation Successful ---")
print(f"Diabetes Count: {len(withDiabetes)}")
print(f"No Diabetes Count: {len(noDiabetes)}")
print(f"Pedia Count: {len(Pedia)}")
print(f"Adult Count: {len(Adult)}")

--- Subset Creation Successful ---
Diabetes Count: 268
No Diabetes Count: 500
Pedia Count: 0
Adult Count: 768

In [84]:
# 12. Use numpy to get the average age and glucose value.
avg_age = np.mean(df['Age'])
avg_glucose = np.mean(df['Glucose'])

# 13. Use numpy to get the median age and glucose value
med_age = np.median(df['Age'])
med_glucose = np.median(df['Glucose'])

# 14. Use numpy to get the middle values (50th percentile)
mid_age = np.percentile(df['Age'], 50)
mid_glucose = np.percentile(df['Glucose'], 50)

# 15. Use numpy to get the standard deviation of the skinthickness
skin_std = np.std(df['SkinThickness'])

print(f"Average: Age={avg_age:.2f}, Glucose={avg_glucose:.2f}")
print(f"Median:  Age={med_age}, Glucose={med_glucose}")
print(f"Middle:  Age={mid_age}, Glucose={mid_glucose}")
print(f"SkinThickness Std Dev: {skin_std:.2f}")

Average: Age=33.24, Glucose=120.89
Median:  Age=29.0, Glucose=117.0
Middle:  Age=29.0, Glucose=117.0
SkinThickness Std Dev: 15.94

**6.4 Conclusion**

What i've learned while doing this activity is at first it was hard for me to perform or satisfy the instructions but once i got the hang of it and understand the structures and also with the help of the geeksforgeeks to everything started to click. Transitioning from manual calculations to using high-level libraries like Pandas and Numpy really illustrated the difference between understanding the underlying math and applying it at scale. Manually coding the variance and mode taught me to appreciate the logic behind the formulas, while the second half of the activity showed me how data professionals actually organize and filter complex datasets. Categorizing the diabetes data into groups like "Pedia" and "Adult" was a highlight, as it moved the project beyond just numbers and into real-world analysis. This experience has definitely boosted my confidence in navigating Python and has given me a much clearer perspective on how to turn raw information into organized, meaningful results.