Using the 2019_Yellow_Taxi_Trip_Data.csv Links to an external site. dataset, accomplish the following items and submit a PDF of the notebook:

1. Create a DataFrame by reading in the 2019_Yellow_Taxi_Trip_Data.csv file. Examine the first 5 rows.

In [1]:
import os
print(os.path.exists('2019_Yellow_Taxi_Trip_Data.csv'))

True

In [2]:
import pandas as pd
import os

if not os.path.exists('2019_Yellow_Taxi_Trip_Data.csv'):
    !wget https://raw.githubusercontent.com/person-repo/path/to/2019_Yellow_Taxi_Trip_Data.csv

taxi_df = pd.read_csv('2019_Yellow_Taxi_Trip_Data.csv')

taxi_df.head()

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,2,2019-10-23T16:39:42.000,2019-10-23T17:14:10.000,1,7.93,1,N,138,170,1,29.5,1.0,0.5,7.98,6.12,0.3,47.90,2.5
1,1,2019-10-23T16:32:08.000,2019-10-23T16:45:26.000,1,2.00,1,N,11,26,1,10.5,1.0,0.5,0.00,0.00,0.3,12.30,0.0
2,2,2019-10-23T16:08:44.000,2019-10-23T16:21:11.000,1,1.36,1,N,163,162,1,9.5,1.0,0.5,2.00,0.00,0.3,15.80,2.5
3,2,2019-10-23T16:22:44.000,2019-10-23T16:43:26.000,1,1.00,1,N,170,163,1,13.0,1.0,0.5,4.32,0.00,0.3,21.62,2.5
4,2,2019-10-23T16:45:11.000,2019-10-23T16:58:49.000,1,1.96,1,N,163,236,1,10.5,1.0,0.5,0.50,0.00,0.3,15.30,2.5

2. Find the dimensions (number of rows and number of columns) in the data.

In [3]:
print(taxi_df.shape)

(10000, 18)

3.Using the data in the 2019_Yellow_Taxi_Trip_Data.csv file, calculate summary statistics for the fare_amount, tip_amount, tolls_amount, and total_amount columns.

In [4]:
# To Select the financial columns
financial_cols = ['fare_amount', 'tip_amount', 'tolls_amount', 'total_amount']

# To generate the summary statistics
taxi_summary = taxi_df[financial_cols].describe()

# To display the result
taxi_summary

        fare_amount    tip_amount  tolls_amount  total_amount
count  10000.000000  10000.000000  10000.000000  10000.000000
mean      15.106313      2.634494      0.623447     22.564659
std       13.954762      3.409800      6.437507     19.209255
min      -52.000000      0.000000     -6.120000    -65.920000
25%        7.000000      0.000000      0.000000     12.375000
50%       10.000000      2.000000      0.000000     16.300000
75%       16.000000      3.250000      0.000000     22.880000
max      176.000000     43.000000    612.000000    671.800000

4. Isolate the fare_amount, tip_amount, tolls_amount, and total_amount for the longest trip by distance (trip_distance).

In [5]:
#To find the row where the trip_distance is at its maximum
longest_trip = taxi_df[taxi_df['trip_distance'] == taxi_df['trip_distance'].max()]

#To Select only the four requested financial columns for that row
result = longest_trip[['fare_amount', 'tip_amount', 'tolls_amount', 'total_amount']]

#To Display the result
result

      fare_amount  tip_amount  tolls_amount  total_amount
8338        176.0       18.29          6.12        201.21